__pycache__
!ci-requirements.txt
.*
.cloud
.spotify-token-cache
.storage
.uuid
.vscode/
*.code-workspace
*.conf
*.crt
*.csr
*.db
*.db-journal
*.db-shm
*.db-wal
*.json
*.key
*.old
*.pickle
*.pid
*.sqlite
*.state
*.txt
*.xml
appdaemon/
core.*
deps
deps/
Eco Mode.txt
home-assistant_v2.db
home-assistant.log
ios.conf
ip_bans.yaml
ipchange.yaml
known_devices.yaml
nest.conf
node-red/
notebooks/
OZW_Log.txt
phue.conf
production_auth.json
pyozw.sqlite
secrets
secrets.yaml
tts
www/
zones/