########## Custom Components ###############
aiofiles==0.4.0
backoff==1.8.0
aresponses==1.1.1
pytest==4.6.3
packaging==19.0
feedparser==5.2.1
##########################################
# # From Home Assistant GitHub
# homeassistant.components.environment_canada
env_canada==0.0.18